@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* font-size: 1.2rem; */
    font-family: 'Gayathri', sans-serif;
    font-weight: 900;
    overflow-x: hidden;
}

.homepage_container {
    width: 100% !important;
    height: auto;
    max-width: 100% !important;
    margin: 0 !important;
    padding-top: 2rem;
    background: url(/images/cubes.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;

}

/*icons*/

.math1,
.math2,
.math3,
.math4,
.math5,
.math6,
.physics1,
.physics2,
.physics3,
.computer,
.logic1,
.circuit1,
.circuit2,
.electronics1,
.electronics2,
.e-m-fields,
.sec-phy-2,
.sec-phy-3{
    background: #fff;
    border-radius: 20%;
    width: 5rem;
    height: 5rem;
}



/*end icons*/




.math1_index_container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    height: 100%;
    
}

.m1-ch1 {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid grey;
    /* width: 70%; */
    padding: 1rem;
    margin-bottom: 1rem;
}

.m1-ch1 h6 {
    width: 70%;
}
.m1-ch1-details {
    /* border: 1px solid blue; */
    display: block;
  
}

.m1-ch1-details div {
    padding: 1rem;

}

.m1-ch1-details div a {
    width: fit-content;
    box-sizing: border-box;
    padding: 0.7rem;
    background: rgb(61, 147, 228);
    /* color: #fff; */
    border-radius: 10px;
    font-size: 2vh;
    text-decoration: none;
}


@media only screen and (max-width: 243px) {
    .m1-ch1-details div a {
        font-size: 1.3vh;
    }
}



.exams-container {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 5rem;
}

.exams-container h3 {
    border-bottom: 2px solid #fff;
}


.exams-wording {
    color: #fff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exams-wording h3 {
    margin: 0;
}



.exams-links {
    font-size: 2vh;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.exams-links a span {
    font-size: 1rem;
    color: #4186C6;
}



.exams-links  div {
    margin: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}





.exams-links a {
    width: 9vh;
    height: 9vh;
    margin: auto;
    cursor: pointer;
    /* border-radius: 30%;
    border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items :center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    margin: auto;
}


 .math1 a .svg-inline--fa {
    color: rgba(221, 125, 118);
}

 .math2 a .svg-inline--fa {
    color: rgb(58, 216, 105);
}

.math3 a .svg-inline--fa {
    color:rgb(206, 92, 72);
}

.math4 a .svg-inline--fa {
    color: rgb(89, 173, 102);
}

.math5 a .svg-inline--fa {
    color: rgb(83, 65, 133);
}

.math6 a .svg-inline--fa {
    color: rgb(216, 91, 185);
}


.physics1 a .svg-inline--fa {
    color: rgba(221, 125, 118);
}


.physics2 a .svg-inline--fa {
    color: rgba(221, 125, 118);
}


.physics3 a .svg-inline--fa {
    color:rgb(83, 65, 133);
}


.computer a .svg-inline--fa {
    color:rgba(221, 125, 118);
}

.logic1 a .svg-inline--fa {
    color: rgb(58, 216, 105);
}

.circuit1 a .svg-inline--fa {
    color:rgb(83, 65, 133);
}

.circuit2 a .svg-inline--fa {
    color: rgb(89, 173, 102);
}


.electronics1 a .svg-inline--fa {
    color:rgb(83, 65, 133);
}


.electronics2 a .svg-inline--fa {
    color:rgb(216, 91, 185);
}


.e-m-fields a .svg-inline--fa {
    color:rgba(221, 125, 118);
}

.sec-phy-2 a .svg-inline--fa {
    color:rgba(221, 125, 118);
}


.sec-phy-3 a .svg-inline--fa {
    color:rgb(83, 65, 133);
}



.svg-inline--fa {
    font-size: 2.5rem !important;
    
    
}

.return-to-homepage .svg-inline--fa  {
    margin-bottom: -2px;
}

.fa-book {
    margin-bottom: 5px;
}


.exams-links div div {
    box-sizing: border-box;
}



.exams-links div div:hover {
    transform: scale(1.1);
}


/*homepage design*/



/*before exam */

    .before_exam {
        width: 100%;
        /* height: 70vh; */
        padding: 2rem;
        margin-bottom: 3rem;
        text-align: center;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .exam_image {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .before_exam img {
        max-width: 70%;
        max-height: 70%;
        border-radius: 20px;
    }



    @media only screen and (max-width: 1019px) {
        .before_exam img {
            width: 70%;
            height: 100%;
        }
    }


    .wording {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    .proceed {
        width: fit-content;
        margin: 0 auto;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: lightseagreen;
    }

    .proceed a {
        color: #fff;
        text-decoration: none;
    }




/*end before exam */



header {
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    /* background: rgb(50, 136, 132); */
    background: #fff;
  }



  .logo {
    height: 100%;
    align-self: center; 
    display: flex;
    max-width: 30%;
    min-width: 210px;
    position: relative;
}


.logo a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.logo img {
    height: 100%;
    width: 80%;
}

@media only screen and (max-width: 992px) {
    .logo img {
        height: 80%;
    }
}



.hamburger-container {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}


.hamburger-container .menu {
    height: 100%;
    display: flex;
}



.hamburger-container .menu a {
    align-self: flex-end;
    text-decoration: none;
    color: #4186C6;
    margin: 0 10px;
    padding-top: 1rem;
    font-size: 1.5rem !important;
}




.hamburger-container #toggle-button {
    display: none;
    align-self: center;
    margin-right: 1rem;
}



#toggle-button {
    cursor: pointer;
    padding: 15px;
    width: 40px;
}

#toggle-button:hover span {
	cursor: pointer;
}



.line-1, .line-2, .line-3 {
	cursor: pointer;
	border-radius: 4px;
	height: 4px;
	width: 40px;
	background: #4186C6;
	position: relative;
	display: block;
    content: '';
    transition: all 300ms ease-in;

}

.line-1, .line-2 {
    margin-bottom :6px;
}



#toggle-button.active .line-2 {

    background-color: transparent;
}

#toggle-button.active .line-1 {

    top: 10px;
    position: absolute;
}

#toggle-button.active .line-3 {

    bottom: 10px;
    position: absolute;
}

#toggle-button.active .line-1 {
	transform: rotate(45deg);
    top: 26px;
}

#toggle-button.active .line-3 {
	transform: rotate(-45deg);
}



#toggle {
    display: none;
}



#sidebar-menu {
    position: fixed;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 0px;
    background: #fff;
    color: #000;
    right: 0px;
    transition: all 500ms linear;
    box-shadow: 0px 0px 30px 0px grey;
}

#sidebar-menu.active {
    width: 10rem;
}

#sidebar-menu ul {
    display: block;
    width: fit-content;
    margin: 3rem auto;
    list-style: none;
    padding-left: 0px;
    height: 100%;
    padding-top: 10%;

}

#sidebar-menu ul a {
    text-decoration: none;
    color: #4186C6;
}

#sidebar-menu ul li {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #000;
}

 #body {
    position: relative;
    left: 0;
    transition: all 500ms linear;
}

#body.active {
    left: -10rem;
}
 


 @media only screen and (max-width: 992px) {


    .hamburger-container #toggle-button {
        display: block !important;
        cursor: pointer;
    }

 

 
.hamburger-container {
    width: 100%;
}

.hamburger-container #toggle-button {
    float: right;
}

.hamburger-container .menu {
    clear: left !important;
    text-align: center;
    position: relative;
    display: none;

}




#toggle-button {
    position: relative;
    z-index: 1;
}

 }



/*end homepage design*/












#fluid_mechanics {

    background: rgb(94, 180, 131);
}

#container {
    width: 100%;
    padding-top: 2rem;
    
    
}

form {
    max-width: 90%;
    margin: 0 auto;
}

#after_submit {
    text-align: center;
}


#after-evaluation {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100% !important;
}

@media only screen and (max-width: 677px) {
    #after-evaluation {
        flex-direction: column;
    }
}

#answers-container {
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#answers-container p {
    margin: 0;
    margin-left: 1rem;
    width: fit-content;
}

#answers-container .fa-check {
    color: green;
}

#answers-container .fa-times {
    color: red;
}

.impression-container {
    width: 100%;
    margin: 0 auto;
}


#impression {
    border-radius: 10px;
    width: 90%;
}


/*chapter 14 */

h1 {
    width: fit-content;
    border-bottom: 5px solid #000;
}

#quiz {
    padding-left: 1rem;
}

#quiz hr {
    margin-top : 1rem;
}


.evaluator {
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    justify-self: center;
    width: 150px;

}

.buttonHolder {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 3rem;
}



.timer-container {
    width: 150px;
    height: fit-content;
    padding-top: 0.5rem;
    background: rgb(172, 88, 172);
    color: #fff;
    position: fixed;
    top: 0;
    right: 50px;
    text-align: center;
    font-size: 2rem;

}

#timer {
    margin: 0;
}


.return-to-homepage  {
    width: fit-content;
    text-decoration: none;
    color: red;
    padding: 1rem;
    border: 1px solid pink;
    background: #fff;

}


.return-to-homepage span {
    margin-left: 5px;
}



svg:not(:root).svg-inline--fa {
    overflow: visible;
    position: relative;
    top: 3px;
}

a {
    color: #fff;
    text-decoration: none !important;
}

/*end chapter 14 */





/* About */


.about_container {
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    margin: 0 !important;
    padding-top: 2rem;
    background: rgb(32, 102, 168);
}


.bio-container {
    /* height: calc(100vh - 2rem); */
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

@media only screen and (max-width: 767px) {
    .bio-container {
        min-height: 100vh;
        height: unset;
    }

    .bio-img-container {
        margin-bottom: 1rem;
    }
}

.bio-container > * {
    color: #fff;
    height: 100%;

}

.bio-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.bio-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-list {
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    font-weight: normal;
}

.bio-list li {
    margin-bottom: 1rem; 
    
}


.handasa {
    max-width: 100%;
    max-height: 100%;
    display: none;
}


.animated-handasa {
    display: block;
    animation: 1.5s ease 0s 1 handasaFromLeft;
}

@keyframes handasaFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%); 
}

}


.bio-list {
    display: none;
}

.animated-bio-list {
    display: block;
    animation: 1.5s ease 0s 1 bioFromRight;
    list-style: none;
    background: #fff;
    color: #2066A8;
    border-radius: 20px;
}


@keyframes bioFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%); 
}

}


.aos-init {
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .aos-init {
        font-size: 0.9rem;
    }
}


.scope-of-work-container {
    color: #fff;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(28, 131, 138);
}

.scope-of-work-container h1 {
    border: none;
    width: auto;
    text-align: center;
}

.scope-of-work-container .aos-init {
    background: #fff;
    color: rgb(28, 131, 138);
    border-radius: 20px;
}



.scope-list li, .training-skills-list li , .training-courses-list li, .past-projects-list li {
    margin-bottom: 1rem;
    list-style: none;
}

.training-skills {
    color: #fff;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Courgette', cursive;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(121, 67, 111);
}

.training-skills h1 {
    border: none;
    width: auto;
    text-align: center;
}

.training-skills .aos-init {
    background: #fff;
    color: rgb(121, 67, 111);
    border-radius: 20px;
}


.training-courses {
    color: #fff;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(105, 101, 35);
}

.training-courses h1 {
    border: none;
    width: auto;
    text-align: center;

}

.training-courses .aos-init {
    background: #fff;
    color: rgb(105, 101, 35);
    border-radius: 20px
}


.past-projects {
    color: #fff;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(117, 78, 207);
    
}

.past-projects h1 {
    border: none;
    width: auto;
    text-align: center;

}

.past-projects .aos-init {
    background: #fff;
    color:  rgb(117, 78, 207);;
    border-radius: 20px;
}



/* end About */






/*footer*/


.page-footer {
    background: rgb(27, 27, 29);
    color: #fff;
    position: relative;
    top: 100%;
}

.list-unstyled li a {
    color: #fff !important;
}

.list-unstyled li a svg {
    font-size: 1.5rem !important;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fa-whatsapp {
    color: #fff;
}

.fa-facebook-f{
    color: #fff;
}

.fa-mobile-alt {
    color: #fff;
}

.footer-copyright {
    margin: auto;
}

.footer-copyright a {
    color : #fff;
}


.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*end footer*/