html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    overflow-x: hidden;
    background: rgb(94, 180, 131);
}

#container {
    width: 100%;
    padding-top: 2rem;
    
    
}

form {
    max-width: 90%;
    margin: 0 auto;
}

#after_submit {
    display: none;
    text-align: center;
}


#after-evaluation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100% !important;
}

@media only screen and (max-width: 677px) {
    #after-evaluation {
        display: flex;
        flex-direction: column;
    }
}

.answers-container {
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers-container p {
    margin: 0;
    width: fit-content;
}

.answers-container .fa-check {
    color: green;
}

.answers-container .fa-times {
    color: red;
}

.impression-container {
    width: 100%;
    margin: 0 auto;
}


#impression {
    border-radius: 10px;
    width: 90%;
}


/*chapter 14 */

h1 {
    width: fit-content;
    border-bottom: 5px solid #000;
}

#quiz {
    padding-left: 1rem;
}

#quiz hr {
    margin-top : 1rem;
}


.evaluator {
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    justify-self: center;
    width: 150px;

}

.buttonHolder {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 3rem;
}



.timer-container {
    width: 150px;
    height: fit-content;
    background: rgb(172, 88, 172);
    color: #fff;
    position: fixed;
    top: 0;
    right: 50px;
    text-align: center;
    font-size: 2rem;

}

#timer {
    margin: 0;
}

/*end chapter 14 */
