@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Gayathri', sans-serif;
    font-weight: 900;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background: url(images/mechanical-pattern.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}


.courses-container {
    width: 40%;
    height: 40%;
    position: relative;
    top: 10%;
    float: right;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    background: rgb(255, 45, 108, 0.5);
    border-radius: 1rem  0 0 1rem;
}

.courses-container > * {
    width: 10vh;
    height: 10vh;
    background: rgb(89, 190, 185);
    box-shadow: 0 0 30px 0 grey;
    border-radius: 30%;
    margin: auto;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;

}



.courses-container a:hover {
    transform: scale(1.1);
}

.courses_container div a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/*homepage design*/



/*before exam */

    .before_exam {
        width: 100%;
        height: 80vh;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        margin-bottom: 3rem;
    }

    .exam_image {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .before_exam img {
        max-width: 100%;
        max-height: 100%;
    }

    .wording {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    .proceed {
        width: fit-content;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 5px;
        background-color: lightseagreen;
    }

    .proceed a {
        color: #fff;
        text-decoration: none;
    }




/*end before exam */



header {
    width: 100%;
    height: 70px;
    padding: 0.5rem;
    display: flex !important;
    justify-content: space-between;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    background: rgb(50, 136, 132);
  }

  .hamburger-container .menu a {
      color: #fff;
  }
  


  .logo {
    height: 100%;
    align-self: center; 
    display: flex;
    max-width: 30%;
    position: relative;
}


.logo a {
    height: 100%;
    display: flex;
    text-decoration: none;
    color: #000;
}

.logo img {
    height: 100%;
}



.hamburger-container {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}


.hamburger-container .menu {
    height: 100%;
    display: flex;
}



.hamburger-container .menu a {
    align-self: flex-end;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem !important;
}




.hamburger-container #toggle-button {
    display: none;
    align-self: center;
}



#toggle-button {
    cursor: pointer;
    padding: 15px;
    width: 40px;
}

#toggle-button:hover span {
	cursor: pointer;
}



.line-1, .line-2, .line-3 {
	cursor: pointer;
	border-radius: 4px;
	height: 2px;
	width: 40px;
	background: #000;
	position: relative;
	display: block;
    content: '';
    transition: all 300ms ease-in;

}

.line-1, .line-2 {
    margin-bottom :6px;
}



#toggle-button.active .line-2 {

    background-color: transparent;
}

#toggle-button.active .line-1 {

    top: 10px;
    position: absolute;
}

#toggle-button.active .line-3 {

    bottom: 10px;
    position: absolute;
}

#toggle-button.active .line-1 {
	transform: rotate(45deg);
    top: 26px;
}

#toggle-button.active .line-3 {
	transform: rotate(-45deg);
}



#toggle {
    display: none;
}



#sidebar-menu {
    position: fixed;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 0px;
    background: #fff;
    color: #000;
    right: 0px;
    transition: all 500ms linear;
    box-shadow: 0px 0px 30px 0px grey;
}

#sidebar-menu.active {
    width: 10rem;
}

#sidebar-menu ul {
    display: block;
    width: fit-content;
    margin: 3rem auto;
    list-style: none;
    padding-left: 0px;
    height: 100%;
    padding-top: 10%;

}

#sidebar-menu ul a {
    text-decoration: none;
    color: #000;
}

#sidebar-menu ul li {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #000;
}

 #homepage_body {
    position: relative;
    left: 0;
    transition: all 500ms linear;
}

#homepage_body.active {
    left: -10rem;
}
 


 @media only screen and (max-width: 992px) {


    .hamburger-container #toggle-button {
        display: block !important;
        cursor: pointer;
    }

 

 
.hamburger-container {
    width: 100%;
}

.hamburger-container #toggle-button {
    float: right;
}

.hamburger-container .menu {
    clear: left !important;
    text-align: center;
    position: relative;
    display: none;

}




#toggle-button {
    position: relative;
    z-index: 1;
}

 }



/*end homepage design*/












#fluid_mechanics {

    background: rgb(94, 180, 131);
}

#container {
    width: 100%;
    padding-top: 2rem;
    
    
}

form {
    max-width: 90%;
    margin: 0 auto;
}

#after_submit {
    text-align: center;
}


#after-evaluation {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100% !important;
}

@media only screen and (max-width: 677px) {
    #after-evaluation {
        flex-direction: column;
    }
}

#answers-container {
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#answers-container p {
    margin: 0;
    margin-left: 1rem;
    width: fit-content;
}

#answers-container .fa-check {
    color: green;
}

#answers-container .fa-times {
    color: red;
}

.impression-container {
    width: 100%;
    margin: 0 auto;
}


#impression {
    border-radius: 10px;
    width: 90%;
}


/*chapter 14 */

h1 {
    width: fit-content;
    border-bottom: 5px solid #000;
}

#quiz {
    padding-left: 1rem;
}

#quiz hr {
    margin-top : 1rem;
}


.evaluator {
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    justify-self: center;
    width: 150px;

}

.buttonHolder {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 3rem;
}



.timer-container {
    width: 150px;
    height: fit-content;
    background: rgb(172, 88, 172);
    color: #fff;
    position: fixed;
    top: 0;
    right: 50px;
    text-align: center;
    font-size: 2rem;

}

#timer {
    margin: 0;
}

/*end chapter 14 */
